<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <textarea name="message" >

    </textarea>

    <button>send</button>
    <div id="msg">

    </div>

    <div class="newMsg"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      var socket = io();

      document.querySelector("button")
      .addEventListener("click",function(){
      var mssg =  document.querySelector("textarea").value ;
      socket.emit("kuchbhi",mssg);
    })
    
    socket.on("kuchNayaNam",function(data){
      var div = document.createElement("div");
      div.classList.add("newMsg");
      div.textContent = data;
      document.querySelector("#msg").appendChild(div);
      })




    </script>
  </body>
</html>
